#red, #green, #blue {
  float: left;
  clear: left;
  width: 80%;
  margin: 10px;
  margin-left: 10%;
}

#red .ui-slider-range { background: #f00; }
#red .ui-slider-handle { border-color: #f00; }
#green .ui-slider-range { background: #0f0; }
#green .ui-slider-handle { border-color: #0f0 }
#blue .ui-slider-range { background: #00f; }
#blue .ui-slider-handle { border-color: #00f; }